<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PCRemoteDB" providerName="System.Data.SQLite" connectionString="Data Source=C:\WorkShop\Code\Weibo\PCRemote\Database\PCRemoteDB.db3;Version=3;New=False;Connection Timeout=3"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
