<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="pcremote" type="PCRemote.Core.Configuration.PCRemoteConfigurationHandler, PCRemote.Core"/>
  </configSections>
  <pcremote>
    <commands>
      <add name="shutdown" chineseName="关机" type="PCRemote.Core.Commands.ShutdownCommand, PCRemote.Core"/>
      <add name="abortshutdown" chineseName="终止关机" type="PCRemote.Core.Commands.AbortShutdownCommand, PCRemote.Core"/>
      <add name="restart" chineseName="重启" type="PCRemote.Core.Commands.RestartCommand, PCRemote.Core"/>
      <add name="logoff" chineseName="注销" type="PCRemote.Core.Commands.LogoffCommand, PCRemote.Core"/>
      <add name="volmute" chineseName="静音" type="PCRemote.Core.Commands.VolMuteCommand, PCRemote.Core"/>
      <add name="cancelvolmute" chineseName="取消静音" type="PCRemote.Core.Commands.VolUnMuteCommand, PCRemote.Core"/>
      <add name="volinc" chineseName="加大音量" type="PCRemote.Core.Commands.VolIncCommand, PCRemote.Core"/>
      <add name="voldec" chineseName="减小音量" type="PCRemote.Core.Commands.VolDecCommand, PCRemote.Core"/>
      <add name="darkscreen" chineseName="关闭显示器" type="PCRemote.Core.Commands.DarkScreenCommand, PCRemote.Core"/>
      <add name="screenshot" chineseName="截图|屏幕截图" type="PCRemote.Core.Commands.ScreenshotCommand, PCRemote.Core"/>
      <add name="play" chineseName="播放" type="PCRemote.Core.Commands.MediaPlayCommand, PCRemote.Core"/>
      <add name="pause" chineseName="暂停" type="PCRemote.Core.Commands.MediaPauseCommand, PCRemote.Core"/>
      <add name="next" chineseName="下一首" type="PCRemote.Core.Commands.MediaNextTrackCommand, PCRemote.Core"/>
      <add name="previous" chineseName="上一首" type="PCRemote.Core.Commands.MediaPreviousTrackCommand, PCRemote.Core"/>
      <add name="camera" chineseName="拍照" type="PCRemote.Core.Commands.PhotoCommand, PCRemote.Core"/>
      <add name="lock" chineseName="锁屏" type="PCRemote.Core.Commands.LockCommand, PCRemote.Core"/>
    </commands>
  </pcremote>
  <connectionStrings>
    <add name="PCRemoteDB" providerName="System.Data.SQLite" connectionString="Data Source=C:\WorkShop\Code\Weibo\PCRemote\Database\PCRemoteDB.db3;Version=3;New=False;Connection Timeout=3"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
